*, *::after, *::before {
    box-sizing: border-box;
}

body {
    margin: 1rem;
    background-image: linear-gradient(rgb(190, 239, 255), white);
    color: rgb(31, 30, 30);
    font-family: 'Sofia Sans Condensed', sans-serif;
}

.day-section{
    width: 100%;
    text-align: center;
    border-spacing: 0; 
    border-radius: 20px !important;
}

.day-row {
    background-color:rgb(221, 243, 251);
}

.day-row:nth-child(2n) {
    background-color:rgb(255, 255, 255);
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
    font-size: 1.3rem;
}

.info-deg {
    font-size: 22px;
}

.label {
    font-weight: bold;
    font-size: 24px;
}

.weather-icon {
    width: 64px;
    height: 64px;
    object-fit: contain;
    filter: drop-shadow(0px 0px 1px rgba(0,0,0,0.5));
}

.weather-icon-row {
    width: 64px;
    height: 64px;
    filter: drop-shadow(0px 0px 1px rgba(0,0,0,0.5));
}

.weather-icon-large {
    width: 12rem;
    filter: drop-shadow(0px 0px 1px rgba(0,0,0,0.5));
}

.header-current-temp {
    font-size: 2rem;
}

.weather-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    vertical-align: center;
    gap: 0.5rem;
    font-size: 28px;
}

.table {
    border-radius: 9%;
    overflow: hidden;
}

.temp-high-low {
    display: flex;
    gap: 1rem;
}

.hour-section {
    width: 100%;
    text-align: center;
    border-spacing: 0;
}

.hour-row {
    background-color: hsl(200, 60%, 75%);
}

.hour-row:nth-child(2n) {
    background-color: hsl(200, 60%, 70%);
}

.hour-row > td {
    padding: 0.25rem 0.5rem;
}